{# permet d'utiliser les templates #}
{% extends "template/main.twig" %} 
{%block title %}Connexion{%endblock%}
{# Contenu #}
{% block contenu %}
    <p>Le login pour le site web est :<br/>
            root@sicmi3a01.cpnv-es.ch<br/>
            toor</p>
    <style>
        .input-group-addon
        {
            min-width: 200px;
            text-align: left;
        }
    </style>
<form method="post">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="input-group">
                <span class="input-group-addon" id="email">Votre email</span>
                <input type="text" name="email" class="form-control" aria-describedby="email"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">Votre mot de passe</span>
                <input type="password" name="password" class="form-control" aria-describedby="password"/>
            </div>

            <input class="btn btn-primary" type="submit" value="submit">
        </div>
    </div>
   
</form>

<a href="recuperation_mdp.php">Mot de passe oublié ?</a>
{#     
{% if key %}
    {% key %}
{% endif %}
#}
{% endblock %}

